<h1>Listing comparisons</h1>

<table>
  <tr>
    <th>Times</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comparisons.each do |comparison| %>
  <tr>
    <td><%= comparison.times %></td>
    <td><%= link_to 'Show', comparison %></td>
    <td><%= link_to 'Edit', edit_comparison_path(comparison) %></td>
    <td><%= link_to 'Destroy', comparison, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comparison', new_comparison_path %>
