<h1>Listing places</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Description</th>
    <th>Title</th>
    <th>Rating</th>
    <th>Absolute rank</th>
    <th>Compared Against</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= place.location %></td>
    <td><%= place.description %></td>
    <td><%= place.title %></td>
    <td><%= place.rating %></td>
    <td><%= place.absolute_rank %></td>
    <td><% for h in place.comparisons %>
      <%= Place.find(h.compared_to).title %> <%= h.times %>,
      <% end %>
    </td>
    <td><%= link_to 'Show', place %></td>
    <td><%= link_to 'Edit', edit_place_path(place) %></td>
    <td><%= link_to 'Destroy', place, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'New Showdown!', showdown_path(place) %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Place', new_place_path %>
