<form method="post" action="/places/parse_rate"> 
<select name="down" multiple="multiple" >
<% for p in Place::COMPIDS %>

<option value=<%= p %>> <%= Place.find(p).title %> </option>
<% end %>
</select>
<%= @place.title %>
<select name="up" multiple="multiple">
<% for p in Place::COMPIDS %>
<option value=<%= p %>> <%= Place.find(p).title %> </option>
<% end %>
</select>
<input name="id" type="hidden" value=<%= @place.id %>>
<input type="submit">submit</input>
</form> 


 
